<div class="wrapper">
    <header>
        <img src="/img/icons/cookie1.svg" width="40px" height="40px">
        <h2 class="font-PermanentMarker-Regular"><%- t('cookies.title') %></h2>
    </header>
    <div class="data">
        <p class="font-Atma-Regular !text-[13pt]">
            <%- t('cookies.text') %>
                <a href="/" class="ml-2"><%- t('cookies.readmore') %></a>
        </p>
    </div>
    <div class="buttons">
        <button class="button font-Atma-Regular !text-[14pt]" id="acceptButton"><%- t('cookies.accept') %></button>
        <button class="button font-Atma-Regular !text-[14pt]" id="declineButton"><%- t('cookies.decline') %></button>
    </div>
</div>