<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <div class="w-[95vw] md:w-[50vw] pt-5 px-2 mx-auto">
            <div class="_title flex flex-row items-center gap-5 justify-center">
                <div>
                    <%= t('contact.title') %>
                </div>
                <img src="/img/smiley-a-ok-small.webp" width="70" height="70" />
            </div>
            <div class="_body">
                <form action="/about/contact" method="post" class="grid grid-cols-1 gap-y-2">
                    <label for="name" class="_label">
                        <%= t('contact.labelName') %>
                    </label>
                    <input type="text" id="name" name="name" required title="<%= t('contact.nameValidation') %>"
                        placeholder="<%= t('contact.namePlaceholder') %>" value="<%= displayName %>"
                        class="_input name">
                    <label for="email" class="_label">
                        <%= t('contact.labelEmail') %>
                    </label>
                    <input type="email" id="email" name="email" required title="<%= t('contact.emailValidation') %>"
                        placeholder="<%= t('contact.emailPlaceholder') %>" value="<%= email %>" class="_input email">
                    <label for="body" class="_label">
                        <%= t('contact.labelSubject') %>
                    </label>
                    <input type="text" id="subject" name="subject" required
                        title="<%= t('contact.subjectValidation') %>"
                        placeholder="<%= t('contact.subjectPlaceholder') %>" class="_input subject">
                    <label for="subject" class="_label">
                        <%= t('contact.labelMessage') %>
                    </label>
                    <textarea id="text" name="text" rows="6" required title=""
                        placeholder="<%= t('contact.messagePlaceholder') %>"
                        class="_input resize-none text mb-2"></textarea>
                    <div class="inline-flex items-start">
                        <!-- add padding here to create a low opacity circle here 'p-3 -mt-5 rounded-full' -->
                        <!-- https://www.material-tailwind.com/docs/html/checkbox -->
                        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#checked -->
                        <label class="relative flex items-center cursor-pointer mt-1" htmlFor="updateRegistration">
                            <input type="checkbox" class="before:content[''] peer relative h-[25px] md:h-[30px] w-[25px] md:w-[30px] cursor-pointer appearance-none bg-gray-50
                                       rounded-md outline outline-1 outline-gray-500 transition-all before:absolute before:top-2/4 before:left-2/4 before:block 
                                       before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 
                                       before:opacity-0 before:transition-opacity checked:border-[#4070f4] checked:bg-[#4070f4] checked:hover:bg-[#034bf1] 
                                       checked:before:bg-[#4070f4] hover:before:opacity-25" id="updateRegistration"
                                name="updateRegistration" value="true" checked />
                            <span class="absolute text-white transition-opacity opacity-0 pointer-events-none 
                                       top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="h-[20px] md:h-[25px] w-[20px] md:w-[25px]" viewBox="0 0 20 20"
                                    fill="currentColor" stroke="currentColor" stroke-width="1.2">
                                    <path fill-rule="evenodd"
                                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </label>
                        <div class="_label px-1 pl-2 md:pl-[30px]">
                            <%= t('contact.updateRegistration') %>
                        </div>
                    </div>

                    <button class="send ml-auto _button mt-2">
                        <div class="flex flex-row items-center gap-3">
                            <div class="_label">
                                <%= t('contact.buttonSend') %>
                            </div>
                            <img src="/img/icons/send0.svg" width="25" height="25" />
                        </div>
                    </button>

                </form>
            </div>
        </div>
        <div class="mt-[40px] pb-[30px]">
            <%- include('./partials/homebutton.ejs') %>
        </div>
        <script nonce='<%= nonce %>'>

            /* INLINE violates with NONCE (content-security-policy-wise) so we cannot use it here so we have to add events to HTML elements */
            const inputElementArray = document.querySelectorAll('._input')
            inputElementArray.forEach(element => {
                element.addEventListener('input', e => {
                    element.setCustomValidity('')
                })
            })

            const sendButton = document.querySelector('.send').addEventListener('click', e => {
                setValidationMessage()
            })

            // https://jsfiddle.net/patelriki13/Sqq8e/4
            const setValidationMessage = () => {
                inputElementArray.forEach(element => {
                    if (element.classList.contains('name')) {
                        if (element.value === '' || typeof element.value === 'undefined') {
                            element.setCustomValidity("<%- t('contact.nameValidation') %>")
                        } else element.setCustomValidity('')
                    }
                    if (element.classList.contains('email')) {
                        if (element.value === '' || typeof element.value === 'undefined' || element.validity.typeMismatch) {
                            element.setCustomValidity("<%- t('contact.emailValidation') %>")
                        } else element.setCustomValidity('')
                    }
                    if (element.classList.contains('text')) {
                        if (element.value === '' || typeof element.value === 'undefined') {
                            element.setCustomValidity("<%- t('contact.messageValidation') %>")
                        } else element.setCustomValidity('')
                    }
                    if (element.classList.contains('subject')) {
                        if (element.value === '' || typeof element.value === 'undefined') {
                            element.setCustomValidity("<%- t('contact.subjectValidation') %>")
                        } else element.setCustomValidity('')
                    }
                })
            }

        </script>
    </body>

</html>