<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>           
        <div>
            <div class="_toolbar">
                <div class="_math-thingy-logo mx-4">
                    <div style="background-size:100% 100%;" class="_image-background">
                        <div>
                            <img src="/img/math-book.webp" width="100vw" class="_book"/>   
                        </div>
                        <div class="_subtitle">THINGY</div>
                    </div> 
                </div>    
                <div class="flex flex-col max-md:fixed max-md:top-0 max-md:right-0">
                    <div id='languageflag' class="languageselect mt-[10px] md:mt-[20px] mr-[10px] md:mr-[40px] cursor-pointer">
                        <img id="abc" src="/img/flags/<%= selectedLanguage.language %>.svg" width="35" class="inline"/>
                    </div>
                    <div id="languagelistcontainer" class="languagelist flex flex-col min-w-max bg-white p-2 rounded-xl border-2 border-blue-500 fixed top-[50px] md:top-[60px] right-[15px] md:right-[40px] shadow-xl opacity-0 transition-[opacity] duration-300 ease-in pointer-events-none">
                        <div class="pt-[5px]" id="test">
                            <% languages.forEach((lng) => { %>
                                <a href="/switch/<%= lng.language %>">
                                <button id="<%= lng.language %>" class="languagebutton font-Atma-Regular text-[22px] w-full flex flex-row items-center gap-[10px] pl-[20px] pr-[20px] py-[5px] hover:bg-[#93C5FD88]"><img src="/img/flags/<%= lng.language %>.svg" width="35" class="inline"/> <%= lng.description %></button>                            
                                </a>
                            <% }) %>
                        </div>
                    </div>
                </div>

            </div>              
            <div class="_page-content">                      
                <ul class="_list-item-container">
                    <li class="_list-item">
                        <div class="col-span-2 md:hidden">
                            <img src="/img/festive.webp" width="90vw" class="_img-festive mx-auto"/>
                        </div>                        
                        <div class="col-span-3 p-1 pb-[30px] md:pb-0">                            
                            <ul class="h-fit p-2 md:p-0 md:h-[calc(100vh-(170px+80px))] xl:h-[calc(100vh-(170px+90px))]">
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 bg-white">
                                    <div class="col-span-2 md:mt-auto"><img src="/img/smiley-listen-up.webp" height="90%"></div>
                                    <div class="col-span-8 px-2 _text-balloon" style="background-size:100% 100%;">
                                        <div id="interval" class="_text-balloon-text"></div>
                                    </div>
                                </li>    
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]"><%= t('welcome') %></div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">Your highest ranking is still 277. You should get to work</div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">New feature in the Math Thingy App, be sure to check it out</div></li>                            
                            </ul>
                        </div>
                        <div class="col-span-2 max-md:hidden">
                            <img src="/img/festive.webp" width="100vw" class="_img-festive ml-auto"/>
                        </div>
                    </li>
                </ul>                     
            </div>
            <div class="wrapper">
                <header>
                    <img src="/img/icons/cookie1.svg" width="40px">
                    <h2 class="font-PermanentMarker-Regular"><%= t('cookies.title') %></h2>
                </header>                    
                <div class="data">
                    <p class="font-Atma-Regular !text-[13pt]"><%= t('cookies.text') %><a href="/" class="ml-2"><%= t('cookies.readmore') %></a></p>
                </div>
                <div class="buttons">
                    <button class="button font-Atma-Regular !text-[14pt]" id="acceptButton"><%= t('cookies.accept') %></button>
                    <button class="button font-Atma-Regular !text-[14pt]" id="declineButton"><%= t('cookies.decline') %></button>
                </div>
            </div>       
        </div> 
        <%- include('./partials/footer.ejs') %>
        
        <script type="module">

            import { Epoch } from '/lib/epoch.js'
            // https://stackoverflow.com/questions/70809817/how-to-handle-passed-ejs-variable-as-a-string
            // In order to pass an EJS data object to a JS file we need to make a copy. The object cannot be
            // passed directly. It will be become 'undefined'
            // Mind the single quotes with the JSON parse function!! Failure do to so will result in 
            // SyntaxError: missing ) after argument list in C:\DennisB\math_thingy\views\index.ejs while compiling ejs
            // If the above error is not helpful, you may want to try EJS-Lint:
            // https://github.com/RyanZim/EJS-Lint
            // Or, if you meant to create an async function, pass `async: true` as an option.
            const epoch = new Epoch(performance.navigation.type, JSON.parse('<%-JSON.stringify(translations)%>'))
            document.getElementById("interval").innerHTML = epoch.getElapsedTimeAsString()
            if(performance.navigation.type!==1)localStorage.setItem("visit", Date.now())

            const cookieBox = document.querySelector('.wrapper'),
                  buttons = document.querySelectorAll('.button'),
                  languagebuttons = document.querySelectorAll('.languagebutton')
                
            // languagebuttons.forEach(languagebutton => {
            //     languagebutton.addEventListener('click', () => {
            //         window.location.href = `/switch/${languagebutton.id}` 
            //     })
            // })

            const executeCodes = () => {
                if(document.cookie.includes('mt_cookies_allowed')) return
                cookieBox.classList.add('show')
                buttons.forEach(button => {
                    button.addEventListener('click', () => {
                        cookieBox.classList.remove('show')
                        if(button.id==='acceptButton'){
                            document.cookie = 'mt_cookies_allowed=true; max-age=' + (30 * 24 * 60 * 60) +'; Secure; SameSite=Strict;'
                            document.cookie = 'mt_cookies_language=' + navigator.language + '; max-age=' + (1000 * 24 * 60 * 60) + '; Secure; SameSite=Strict;'
                        } // anders in localstorage aangeven dat er geen cookies mogen (ook met een max-age)
                    })

                })
            }

            window.addEventListener('load', executeCodes)      
            
            // https://jsfiddle.net/kym2rvyL/1/
            window.addEventListener('click', function(e){
                if (document.getElementById('languageflag').contains(e.target)){ // clicked inside the flag selector
                    document.querySelector('.languagelist').classList.toggle('selectshow')
                }
                else { // clicked outside the language list and not on the flag itself
                    if(!document.getElementById('languagelistcontainer').contains(e.target)){
                        document.querySelector('.languagelist').classList.remove('selectshow')
                    } else { // clicked inside the language list
                        document.querySelector('.languagelist').classList.toggle('selectshow')
                    }
                }
            })  

        </script>

    </body>
</html>