<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>           
        <div>
            <div class="_toolbar">
                <div class="_image-container">
                    <div style="background-size:100% 100%;" class="_image-background">
                        <div>
                            <img src="/img/math-book.webp" width="100vw" class="_book"/>   
                        </div>
                        <div class="_subtitle">THINGY</div>
                    </div> 
                </div>    
            </div>              
            <div class="_page-content">                      
                <ul class="_list-item-container">
                    <li class="_list-item">
                        <div class="col-span-2 md:hidden">
                            <img src="/img/festive.webp" width="90vw" class="_img-festive mx-auto"/>
                        </div>                        
                        <div class="col-span-3 p-1 pb-[30px] md:pb-0">                            
                            <ul class="h-fit p-2 md:p-0 md:h-[calc(100vh-(170px+80px))] xl:h-[calc(100vh-(170px+90px))]">
                                <li class="text-[1em] md:text-[1.6em] font-medium p-2 grid grid-cols-10 bg-white">
                                    <div class="col-span-2 md:mt-auto"><img src="/img/smiley-listen-up.webp" height="90%"></div>
                                    <div class="col-span-8 px-2 _text-balloon" style="background-size:100% 100%;">
                                        <div id="interval" class="_text-balloon-text"></div>
                                    </div>
                                </li>    
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]"><%= t('welcome') %></div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">Your highest ranking is still 277. You should get to work</div></li>
                                <li class="_sub-list-item-cols-10"><div class="col-span-2 my-auto"><img src="/img/start.webp" width="75%" class="mx-auto"></div><div class="col-span-8 px-2 text-[12pt] md:text-[16pt]">New feature in the Math Thingy App, be sure to check it out</div></li>                            
                            </ul>
                        </div>
                        <div class="col-span-2 max-md:hidden">
                            <img src="/img/festive.webp" width="100vw" class="_img-festive ml-auto"/>
                        </div>
                    </li>
                </ul>                     
            </div>
            <div class="wrapper">
                <header>
                    <img src="/img/icons/cookie1.svg" width="40px">
                    <h2 class="font-PermanentMarker-Regular"><%= t('cookies.title') %></h2>
                </header>                    
                <div class="data">
                    <p class="font-Atma-Regular !text-[13pt]"><%= t('cookies.text') %><a href="/" class="ml-2"><%= t('cookies.readmore') %></a></p>
                </div>
                <div class="buttons">
                    <button class="button font-Atma-Regular !text-[14pt]" id="acceptButton"><%= t('cookies.accept') %></button>
                    <button class="button font-Atma-Regular !text-[14pt]" id="declineButton"><%= t('cookies.decline') %></button>
                </div>
            </div>       
        </div> 
        <%- include('./partials/footer.ejs') %>
        
        <script type="module">

            import { Epoch } from '/lib/epoch.js'
            // https://stackoverflow.com/questions/70809817/how-to-handle-passed-ejs-variable-as-a-string
            // In order to pass an EJS data object to a JS file we need to make a copy. The object cannot be
            // passed directly. It will be become 'undefined'
            // Mind the single quotes with the JSON parse function!! Failure do to so will result in 
            // SyntaxError: missing ) after argument list in C:\DennisB\math_thingy\views\index.ejs while compiling ejs
            // If the above error is not helpful, you may want to try EJS-Lint:
            // https://github.com/RyanZim/EJS-Lint
            // Or, if you meant to create an async function, pass `async: true` as an option.
            const epoch = new Epoch(performance.navigation.type, JSON.parse('<%-JSON.stringify(translations)%>'))
            document.getElementById("interval").innerHTML = epoch.getElapsedTimeAsString()
            if(performance.navigation.type!==1)localStorage.setItem("visit", Date.now())


            const cookieBox = document.querySelector('.wrapper'),
                  buttons = document.querySelectorAll('.button')

            const executeCodes = () => {
                if(document.cookie.includes('mt_cookies_allowed')) return
                cookieBox.classList.add('show')
                buttons.forEach(button => {
                    button.addEventListener('click', () => {
                        cookieBox.classList.remove('show')
                        if(button.id==='acceptButton'){
                            document.cookie = 'mt_cookies_allowed=true; max-age=' +30 * 24 * 60 * 60 +'; Secure; SameSite=Strict'
                        } // anders in localstorage aangeven dat er geen cookies mogen (ook met een max-age)
                    })

                })
            }

            window.addEventListener('load', executeCodes)      

        </script>

    </body>
</html>